<h1>Welcome to the Demo App!</h1>

API Key: {{this.config.apiKey}} <br>

{{#if this.session.isAuthenticated}}
  Authenticated
  <br>
  <button onclick={{action this.logout}}>Log Out</button>
{{else}}
  Unauthenticated
{{/if}}


<hr>

{{outlet}}
